.heading {
	font-size: 18px;
	line-height: 1.5;
}

#wpcontent {
	padding-left: 0 !important;
}
#wpbody-content > .error,
#wpbody-content > .info,
#wpbody-content > .notice {
	display: none !important;
}
.ob-overflow-off {
	overflow: hidden !important;
}
@media screen and (min-width: 660px) {
	.ob-import-modal {
		width: 630px !important;
	}
}

#wp-deploy-dashboard {
	--color-black: #282828;
	--color-white: #ffffff;
	--color-activ: #0073aa;
	--color-grey: #616161;
	--color-border: #e1e1e1;
	--color-success: #6eb77a;
	--color-error: #ec7c7c;
	--color-table: #fbfbfb;
}

#wp-deploy-dashboard .custom-notice {
	margin: 0;
}
#wp-deploy-dashboard .container {
	padding: 0 15px;
}

#wp-deploy-dashboard .container.content {
	padding-top: 20px;
}
#wp-deploy-dashboard .icon {
	margin-right: 10px;
}
#wp-deploy-dashboard .icon.dashicon {
	fill: var(--color-activ);
	color: var(--color-activ);
	font-size: 40px;
	height: 40px;
	width: 40px;
}
#wp-deploy-dashboard header {
	background-color: var(--color-white);
	border-bottom: 1px solid var(--color-border);
}
#wp-deploy-dashboard header .top {
	align-items: center;
	display: flex;
	padding: 10px 0 20px;
}
#wp-deploy-dashboard header .heading {
	color: var(--color-black);
	line-height: normal;
	margin: 0;
}
#wp-deploy-dashboard header .version {
	color: var(--color-activ);
	font-size: 14px;
	font-weight: 600;
	margin-left: auto;
	margin-right: 30px;
}
#wp-deploy-dashboard header .navigation {
	display: flex;
	flex-wrap: wrap;
	font-size: 15px;
	font-weight: 600;
	line-height: 1.5;
	list-style: none;
	padding-bottom: 10px;
	text-decoration: none;
}
#wp-deploy-dashboard header .navigation li {
	padding: 5px 0;
	width: 50%;
	color: var(--color-black);
	cursor: pointer;
	text-decoration: none;
}
#wp-deploy-dashboard header .navigation li.activ {
	color: var(--color-activ);
}
#wp-deploy-dashboard .panel {
	width: 100%;
	display: none;
	animation: fadein 0.8s;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
#wp-deploy-dashboard .panel.activ {
	display: flex;
	flex-wrap: wrap;
}

#wp-deploy-dashboard .card {
	align-self: flex-start;
	border: 1px solid var(--color-border);
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	max-width: unset;
	min-width: unset;
	padding: 30px 40px;
	position: relative;
	width: 100%;
}
#wp-deploy-dashboard .card.settings {
	width: 100% !important;
}

#wp-deploy-dashboard .card.fullWidth {
	width: 100% !important;
}
#wp-deploy-dashboard .card .card-header {
	align-items: center;
	display: flex;
	flex-direction: row;
}
#wp-deploy-dashboard .card .card-header .title {
	font-size: 18px;
	line-height: 1.5;
}

#wp-deploy-dashboard .card .card-header .icon {
	margin-right: 10px;
}
#wp-deploy-dashboard .card .card-header .icon.dashicon {
	fill: var(--color-activ);
	color: var(--color-activ);
	font-size: 40px;
	height: 40px;
	width: 40px;
}
#wp-deploy-dashboard .card .card-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
#wp-deploy-dashboard .card p {
	color: var(--color-grey);
	font-size: 15px;
}
#wp-deploy-dashboard .card .card-description {
	margin: 15px 0 25px;
}

#wp-deploy-dashboard .sidebar {
	align-self: flex-start;
	flex-direction: column;
	margin-top: 20px;
	max-width: 100%;
	padding: 30px 20px 15px;
	width: 100%;
	border: 1px solid var(--color-border);
}
#wp-deploy-dashboard .sidebar h4 {
	color: var(--color-black);
	font-size: 15px;
	margin: 0;
}
#wp-deploy-dashboard .sidebar p {
	color: var(--color-grey);
	font-size: 14px;
	margin: 20px 0 30px;
}

@media (min-width: 992px) {
	#wp-deploy-dashboard .container {
		padding: 0 20px;
	}
	#wp-deploy-dashboard .content {
		display: flex;
	}
	#wp-deploy-dashboard .main {
		flex-grow: 1;
		margin-right: 20px;
	}
	#wp-deploy-dashboard header .top {
		padding: 65px 0 50px;
	}
	#wp-deploy-dashboard header .heading {
		font-size: 45px;
	}
	#wp-deploy-dashboard header .navigation {
		flex-wrap: nowrap;
		font-size: 17px;
		padding-bottom: 20px;
	}
	#wp-deploy-dashboard header .navigation li {
		padding: 0;
		width: auto;
	}
	#wp-deploy-dashboard header .navigation li:not(:last-child) {
		margin-right: 35px;
	}
	#wp-deploy-dashboard .sidebar {
		margin-top: 0;
		min-width: 280px;
		width: 280px;
	}
	#wp-deploy-dashboard .card {
		margin: 0 0 20px;
	}
}
@media (min-width: 1200px) {
	#wp-deploy-dashboard .container {
		margin: 0 auto;
	}
	#wp-deploy-dashboard .main {
		flex-grow: 1;
		margin-right: 20px;
	}
	#wp-deploy-dashboard .content {
		display: flex;
		padding-top: 30px;
	}
	#wp-deploy-dashboard .columns {
		display: flex;
		flex-direction: row;
	}
	#wp-deploy-dashboard header .navigation {
		font-size: 19px;
	}
	#wp-deploy-dashboard header .navigation li:not(:last-child) {
		margin-right: 50px;
	}
	#wp-deploy-dashboard .tab-content {
		flex-wrap: wrap;
	}
	#wp-deploy-dashboard .tab-content .card {
		align-self: unset;
		width: calc(50% - 15px);
	}
	#wp-deploy-dashboard .tab-content .card:nth-child(2n) {
		margin-left: 30px;
	}
	#wp-deploy-dashboard .card {
		margin: 0 0 20px;
		padding: 20px 30px;
	}
}
@media (min-width: 1400px) {
	#wp-deploy-dashboard .container {
		max-width: 1300px;
		padding: 0 50px;
	}
	#wp-deploy-dashboard .main {
		margin-right: 30px;
	}
	#wp-deploy-dashboard .card {
		margin: 0 0 30px;
		padding: 30px 40px;
	}
}
